.uki-nc-select {
    margin: 0;
}

.uki-nc-svg-wrapper {
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  margin-bottom: -4px;
}

.uki-nc-svg {
  overflow: visible !important;
  display: inline-block;
  border: #000 solid thin;
  margin-bottom: -3px;
}

input:disabled,textarea:disabled {
  padding: 0px 0px;
}

.uki-nc-text, uki-nc-checkbox, .uki-nc-textarea {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.uki-nc-text__input, .uki-nc-textarea__input {
    margin: 0;
    width: 100%;
    *width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}


.uki-nc-text_with-placeholder, .uki-nc-textarea_with-placeholder {
    position: relative;
}

.uki-nc-text__placholder, .uki-nc-textarea__placholder {
    position: absolute;
    color: #888;
    opacity:0.5;
    pointer-events: none;
    text-align: right;
}

.uki-nc-text__input {
  text-align: right;
}

.uki-nc-text__placholder {
    text-align: left;
}