
.uki-menu-horizontal {
  list-style:none;
  padding: 0;
  margin: 0;
  -webkit-user-drag:none;
}

.uki-menu-horizontal li {
  color: black;
  background-color: white;
  position: relative;
}

.uki-menu-horizontal li ul {
  z-index: 500;
  position: absolute;
  left: 0;
  min-width: 10em;
 }

.uki-menu-horizontal ul {
  padding: 0;
  margin:  0px -1px;
  list-style: none;
  border: 1px solid black;
  background-color: white;
}


.uki-menu-horizontal > li
{
  position:relative;
  float:left;
  text-align:left;
}

.uki-menu-horizontal a
{
  display: block;
  padding: 0px 4px;
  color: black;
  text-decoration: none;
}

.uki-menu-horizontal-no-touch :hover > a {
  background-color: black;
  color:white;
}

/*
.uki-menu-horizontal :focus > a, .uki-menu-horizontal :active > a, .uki-menu-horizontal :hover > ul {
  color: #ffffff;
} */

.uki-menu-horizontal-no-touch :focus > a, a.uki-menu-focus, .uki-menu-focus  {
  background-color: black;
  color:#FFFFFF;
}


.uki-menu-horizontal ul {  display:none; }

.uki-menu-horizontal ul.uki-menu-visible {display: block;}
.uki-menu-horizontal-no-touch :hover > ul { display: block; }

.uki-menu-horizontal ul ul {
  position:absolute; top:0px; left:10em;
}


.uki-menu-horizontal .uki-menu-submenu {
  background: url(horiz_arrow.gif) no-repeat 98% center;
}

.uki-menu-vertical .uki-menu-submenu {
  background: url(vert_arrow.gif) no-repeat 98% center;
}
